<title>Troux-B|DNA Integration-Request History</title>
<div class="row viewRequestInfo">
	<div class="col-lg-12">
		Below is a list of all saved sessions. The results of these sessions may have been sent to the Troux server for upload, as denoted by the status "In Progress" or "Completed". Or these sessions could simply be saved for future use, as denoted by the status "Open".<br/><br/>
	</div>
    <div class="col-lg-12">
        <table id="viewRequestInfo" bs-table-control="viewRequestInfo"></table>
    </div>
</div>